---
import '../styles/globals.scss'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="icon"
      href="https://assets.hackclub.com/favicons/favicon-32x32.png"
    />
    <title>Infinite Craft</title>
  </head>
  <body>
    <slot />
  </body>
</html>
